# SQL II: Grouping and Joining

_May 18, 2020_

Agenda:
- Practice with Grouping in SQLite
- Practice with different types of Joins in SQLite

<img src = "https://media.giphy.com/media/3oKIPnAiaMCws8nOsE/giphy.gif">

In [2]:
import sqlite3
import pandas as pd
import seaborn as sns
import numpy as np

## Part I. Grouping
Just like pandas, Sql support different types of grouping statements for performing aggregate functions and allow us to calculate various statistics for data.

Syntax:
`SELECT * FROM tables GROUP BY column`

In [3]:
# instantiate some data
auto = pd.read_csv('auto-mpg.csv')
tips = sns.load_dataset('tips')
small_quiz = pd.DataFrame({"students":["Muriel","JP","Danny"],
                          "projects":[1,2,1],
                          "grades":np.random.randint(80,100,3)})
small_grades = pd.DataFrame({"students":["Kevin","JP","Dipta"],
                            "quiz_score":np.random.randint(0,10,3)})

In [4]:
conn = sqlite3.connect('aggregate.db')
c = conn.cursor()

In [5]:
# insert these datasets into our db
auto.to_sql('auto', con=conn)
tips.to_sql('tips', con=conn)
small_grades.to_sql('small_grade', con=conn)
small_quiz.to_sql('small_quiz',con=conn)

/Users/flee/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:2531: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  dtype=dtype, method=method)

ValueError: Table 'auto' already exists.

In [6]:
# for the tips df/table, get the total number of man and woman who tips
tips.groupby('sex').sex.value_counts()

sex     sex
Male    Male      157
Female  Female     87
Name: sex, dtype: int64

In [7]:
# in sql 
query = None
c.execute(query).fetchall()

ValueError: operation parameter must be str

In [8]:
# using pandas, select the average amount tipped for time
tips.groupby('time').tip.mean()

time
Lunch     2.728088
Dinner    3.102670
Name: tip, dtype: float64

In [9]:
# use sql to recreate this query
query = 
c.execute(query).fetchall()

ValueError: operation parameter must be str

We can also use `GROUP BY` with certain conditions, in conjunction with filtering and ordering.

In [10]:
# use pandas, get the average total bills for a party larger than 2 for every size of party
tips.groupby(['size']).total_bill.mean()[2:]

size
3    23.277632
4    28.613514
5    30.068000
6    34.830000
Name: total_bill, dtype: float64

In [11]:
# use sql to recreate this query
query = None
c.execute(query).fetchall()

ValueError: operation parameter must be str

In [13]:
# your turn - use pandas, get the maximum value of total bill for female non smoker
tips[(tips.sex == 'Female') & (tips.smoker == 'No')].total_bill.max()

35.83

In [16]:
# use sql to recreate this query
query = """SELECT MAX(total_bill) FROM TIPS GROUP BY sex smoker WHERE sex = 'Female' and smoker = 'No'"""
c.execute(query).fetchall()

OperationalError: near "smoker": syntax error

In [ ]:
# your turn - use pandas, get the average tip values for different size groups, and show top 2
# most amount of average tips

In [ ]:
# use sql 
query = None 
c.execute(query).fetchall()

## Part II. Join

Based on this diagram, how would you explain the different types of joins?

<img src = 'sql-joins.png' width = 400>

In [ ]:
print(small_grades)
print(small_quiz)

In [ ]:
# left join - join small quiz with small grades, on student name
small_grades.merge(small_quiz, on = 'students', how = "left")

# if i run this command, what would happen? how many observations/record?

In [ ]:
# sql 
query = """SELECT * FROM small_grade LEFT JOIN small_quiz ON small_grade.students = small_quiz.students"""
c.execute(query).fetchall()

In [ ]:
# inner join and get the student's grades
small_grades.merge(small_quiz, on = 'students', how = 'inner')

In [ ]:
query = """SELECT grades FROM small_grade INNER JOIN small_quiz ON small_grade.students = small_quiz.students"""
c.execute(query).fetchall()

In [ ]:
# your turn - use right join and get all entries

# pandas

In [ ]:
# sql