# Pandas II - Data Cleaning

_May 13, 2020_

Agenda today:
- Introduction to lambda function
- Introduction to data cleaning in pandas

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

## Part I. Lambda function
lambda functions are known as anonymous functions in Python. It allows you to write one-line functions that are used together with `map()`, `filter()`.

Syntax of lambda function: `lambda arguments:expressions`.

In [2]:
# lambda function with one argument
func_1 = lambda x:x+10
func_1(10)

20

In [3]:
# lambda function with multiple arguments
func_2 = lambda x, y, z: x+y+z if z + y > x else x-y+z
func_2(10,12,10)

32

In [4]:
# exercise: turn the below function into a lambda function
def count_zeros(li):
    """
    return a count of how many zeros are in a list
    """
    count = sum(x == 0 for x in li)
    return count

In [5]:
count_zeros([1,2,4,0])

1

In [6]:
# Your answer here.
li = [1,2,4,0,0,0,0]

sum(map(lambda x : x == 0, li))

4

## Part II. Data Cleaning in Pandas
You might wonder what the usage of lambda functions are - they are incredibly useful when applied to data cleaning in Pandas. You can apply it to columns or the entire dataframe to get results you need. For example, you might want to convert a column with $USD to Euros, or temperature expressed in Celsius to Fehrenheit. You will learn three new functions:

- `Apply()` - on both series and dataframe

- `Applymap()` - only on dataframes

- `Map()` - only on series

In [10]:
# import the dataframe 
df = pd.read_csv('auto-mpg.csv')

In [11]:
# examine the first few rows of it 
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [12]:
# check the datatypes of the df
df.dtypes

mpg             float64
cylinders         int64
displacement    float64
horsepower       object
weight            int64
acceleration    float64
model year        int64
origin            int64
car name         object
dtype: object

In [13]:
# check whether you have missing values
df.isnull().sum().any()

False

In [ ]:
# creating new columns

In [ ]:
# check the dataframe

In [ ]:
# time to use lambda and apply! with apply, applymap, and map, you never need to "iterate through the rows"

# create a function that takes in the weight as lbs, and return weight in tons 

# 1 lb = 0.0005

In [14]:
# exercise - create a new column called "years old", which determines how old a car is 

df['years_old'] = df['model year'].apply(lambda x: 120 - x)

In [16]:
df.sample(5)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name,years_old
251,20.2,8,302.0,139,3570,12.8,78,1,mercury monarch ghia,42
84,27.0,4,97.0,88,2100,16.5,72,3,toyota corolla 1600 (sw),48
66,17.0,8,304.0,150,3672,11.5,72,1,amc ambassador sst,48
126,21.0,6,200.0,?,2875,17.0,74,1,ford maverick,46
350,34.7,4,105.0,63,2215,14.9,81,1,plymouth horizon 4,39